
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: normal;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercise {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #FDF5E6;
  padding:5px;
}

.sourceCode
  { background-color: #ffffff; }
  
@media screen {
  div.sourceCode { overflow: visible; }
}

.title {
  margin-right: 350px;
}

/* numbering headings */

body { 
  counter-reset: thechapter; 
}

h1 { 
  content: "";
  counter-reset: h2counter; 
}

h1::before {
  content: "";
  counter-increment: thechapter;
}

h2::before {
  counter-increment: h2counter;
  content: "";
}

/* examples, theorems and such */
/*******************************/

.problem, .problemec, .example { 
  padding: 10px; 
  margin-bottom: 25px;
  counter-increment: nmb;
}

/* Backgrounds */
.problem { background: #FDF5E6; }
.problemec {  background: #FDF0E6; }
.example { background: #EEFEEE; }

/* Titles */
.example:before, .problem:before, .problemec:before, .solution::before, .comments::before {
    font-weight: bold; 
    font-size: Large;
}
.example::before { content: "Problem " counter(thechapter) "." counter(h2counter) "." counter(nmb);}
.problem::before { content: "Problem " counter(thechapter) "." counter(h2counter) "." counter(nmb);}
.problemec::before { 
  content: "Problem " counter(thechapter) "." counter(h2counter) "." counter(nmb) " (extra credit)";}
.solution { padding-left: 10px;} 
.solution::before { content: "Solution:";}
.comments::before { content: "Comments:"; }

part {
  font-weight: bold;
}

part::before {
  content: "Part" ;
}

